.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 5, 113, 0.92);
    color: #fff;
}

.title-with-glow {
    font-size: 10vw;
    color: white;
    color:
    transform: rotate(-15deg);
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px rgba(255, 217, 0, 0.867), 0 0 40px rgba(255, 217, 0, 0.867), 0 0 50px rgba(255, 217, 0, 0.867), 0 0 60px rgba(255, 217, 0, 0.867), 0 0 70px rgba(255, 217, 0, 0.867);
    }
    
    to {
      text-shadow: 0 0 20px gold, 0 0 30px rgb(255, 231, 97), 0 0 40px rgb(255, 231, 97), 0 0 50px rgb(255, 231, 97), 0 0 60px rgb(255, 231, 97), 0 0 70px rgb(255, 231, 97), 0 0 80px rgb(255, 231, 97);
    }
  }