.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 5, 113, 0.92);
    color: #fff;
}

.title-with-glow {
    font-size: 10vw;
    color: white;
    color:
    transform: rotate(-15deg);
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
    }
    
    to {
      text-shadow: 0 0 20px gold, 0 0 30px gold, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }